body{
    font-family: 'Lato', sans-serif;
    background-color: #bac8e0;
}

.card{
	    border-radius: 0px;
	    border: solid 0px;
}
.card-header:first-child{
	    box-shadow: #00001138 0px 3px 5px;

}
.list-group-item {
	border:0px;}
.banner{
    text-align: center;
    background-image: url(../img/default.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    box-shadow: #001 0px 0px 29px;
  
}
.result{
	color: #e9ecef;
    font-size: large;
}

.recommend , .data{
    margin: 5% auto;
}

.alert{
    font-size: xx-large;
    color: #fff;
    background: #dee2e617;
  
    box-shadow: #0000003b 0px 2px;
}
.time_container{
	color: #000;
    /* background: #00000014; */
    text-shadow: #00000024 1px 0px 1px;
    padding: 0px 0px 20px 0px;
}

.logo{
	width: 10%;
	float: left;
}

#idtiempo,#idposicion{
    color: #fff;
}

.map{
    display: inline-block;
    float:center;
    opacity:0.6;
    -webkit-transition:  0.7s;
    transition:  0.7s;    
    box-shadow: #00000024 3px 0px 3px;
    height: 500px;    
}

.map:hover{
    opacity:1;
    box-shadow: #00000024 4px 0px 5px;
}